body {
    background-image: url("../images/background.png");
    background-position: top;
    background-size: 120%;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 85px;
}

#content {
    margin-left: 10%;
    margin-top: 20%
}

#nav-left {
    alignment: left;
}
