body {
    background-image: url("../images/background.png");
    background-position: top;
    background-size: 120%;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 85px;
}

#content {
    margin-left: 10%;
    margin-top: 20%
}

#nav-left {
    position: fixed;
    top: 15px;
    left: 10px;
}

.nav {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}