body {
    background-image: url("../images/background.png");
    background-position: top;
    background-size: 120%;
    background-repeat: no-repeat;
}


h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-align: center;
}

p {
    font-size: 17px;
}

#content {
    margin-left: 10%;
    margin-top: 20%
}

#nav-left {
    position: absolute;
    top: 15px;
    left: 10px;
}

.nav {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}


#buttons-bottom {
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 10%;
}

#username {
    width: 220px;
    height: 50px;
    text-align: center;
}

#password {
    width: 220px;
    height: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 40px 40px 40px;

}
