h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    font-size: 15px;
    text-align: center;
}

h4 {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

h5 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

#nav-left {
    position: absolute;
    top: 15px;
    left: 10px;
}

.nav {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    color: #333333;
}

#button-create {
    margin-top: 20px;
}

#create-containter {
    margin-top: 5%;
    text-align: center;
}

#description {
    height: 50px;
}

#show-task {
    margin-top: 5%;
}
#button-center-all {
    margin-top: 10%;
    margin-left: 45%;
    margin-bottom: 10%;
}

#button-center-all {
    margin-top: 10%;
    margin-left: 45%;
    margin-bottom: 10%;
}

#password {
    -webkit-text-security: disc;
}